<div class="main">
      <div class="container">
        <div class="row">
          <div  data-aos="fade-down" class="col-md-12">

            <div class="content-title">
                Customer satisfaction Survey form
            </div>

            <div class="content-questions">

                          <div class="qt1">
                            <div class="q1 qtn mt">

                                <ol>
                                  <li>How likely is it that you would recommend this company to a friend or colleague?</li>
                                </ol>

                            </div>

                            <div class="chart-scale" style="margin-top: 70px">
                              <button class="btn btn-scale btn-scale-des"
                              popover="😫"
                              triggers="mouseenter:mouseleave">1</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😞"
                              triggers="mouseenter:mouseleave">2</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😟"
                              triggers="mouseenter:mouseleave">3</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="🙁"
                              triggers="mouseenter:mouseleave">4</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😐"
                              triggers="mouseenter:mouseleave">5</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="🙂"
                              triggers="mouseenter:mouseleave">6</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😀"
                              triggers="mouseenter:mouseleave">7</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😊"
                              triggers="mouseenter:mouseleave">8</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😄"
                              triggers="mouseenter:mouseleave">9</button>
                              <button class="btn btn-scale btn-scale-des"
                              popover="😍"
                              triggers="mouseenter:mouseleave">10</button>
                            </div>
                          </div>

                          <div class="qt2">
                            <div class="q2 qtn mt">

                                <ol start="2">
                                  <li>Overall, how satisfied or dissatisfied are you with our company?</li>
                                </ol>

                            </div>

                            <form>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Very Satisfied" name="gender" />
                                <label class="form-check-label" for="Very Satisfied">Very Satisfied</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Somewhat satisfied" name="gender" />
                                <label class="form-check-label" for="Somewhat satisfied">Somewhat satisfied</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Neither satisfied nor dissatisfied" name="gender" />
                                <label class="form-check-label" for="Neither satisfied nor dissatisfied">Neither satisfied nor dissatisfied</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Somewhat dissatisfied" name="gender" />
                                <label class="form-check-label" for="Somewhat dissatisfied">Somewhat dissatisfied</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Very dissatisfied" name="gender" />
                                <label class="form-check-label" for="Very dissatisfied">Very dissatisfied</label>
                              </div>
                            </form>

                          </div>


                                <div class="qt3">
                                    <div class="q3 qtn mt">
                                            
                                      <ol start="3">
                                        <li>Which of the following words would you use to describe our products? Select all that apply.</li>
                                      </ol>

                                    </div>

                                    <div class="options">

                                      <div class="answer-option-col answer-option-col-2">

                                        <form>               
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Reliable" name="gender" />
                                              <label class="form-check-label" for="Reliable">Reliable</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="High Quality" name="gender" />
                                              <label class="form-check-label" for="High Quality">High Quality</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Useful" name="gender" />
                                              <label class="form-check-label" for="Useful">Useful</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Unique" name="gender" />
                                              <label class="form-check-label" for="Unique">Unique</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Good value for money" name="gender" />
                                              <label class="form-check-label" for="Good value for money">Good value for money</label>
                                            </div>
                                        </form>    

                                      </div>

                                      <div class="answer-option-col answer-option-col-2">
                                                       
                                        <form>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Overpriced" name="gender" />
                                              <label class="form-check-label" for="Overpriced">Overpriced</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Impractical" name="gender" />
                                              <label class="form-check-label" for="Impractical">Impractical</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Ineffective" name="gender" />
                                              <label class="form-check-label" for="Ineffective">Ineffective</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Poor quality" name="gender" />
                                              <label class="form-check-label" for="Poor quality">Poor quality</label>
                                            </div>
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="Unreliable" name="gender" />
                                              <label class="form-check-label" for="Unreliable">Unreliable</label>
                                            </div>
                                        </form>

                                      </div>

                                    </div>
                      
                                </div>


                        <div class="qt4">
                            <div class="q4 qtn mt">

                              <ol start="4">
                                <li>How well do our products meet your needs?</li>
                              </ol>

                            </div>

                            <form>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Extremely well" name="gender" />
                                <label class="form-check-label" for="Extremely well">Extremely well</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Very well" name="gender" />
                                <label class="form-check-label" for="Very well">Very well</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Somewhat well" name="gender" />
                                <label class="form-check-label" for="Somewhat well">Somewhat well</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Not so well" name="gender" />
                                <label class="form-check-label" for="Not so well">Not so well</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="Not at all well" name="gender" />
                                <label class="form-check-label" for="Not at all well">Not at all well</label>
                              </div>
                            </form>

                        </div>


                        <div class="qt5">
                          <div class="q5 qtn mt">

                            <ol start="5">
                              <li>How would you rate the quality of the product?</li>
                            </ol>

                          </div>

                          <form>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Very high quality" name="gender" />
                              <label class="form-check-label" for="Very high quality">Very high quality </label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="High quality" name="gender" />
                              <label class="form-check-label" for="High quality">High quality</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Neither high nor low quality" name="gender" />
                              <label class="form-check-label" for="Neither high nor low quality">Neither high nor low quality</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Low quality" name="gender" />
                              <label class="form-check-label" for="Low quality">Low quality</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Very low quality" name="gender" />
                              <label class="form-check-label" for="Very low quality">Very low quality</label>
                            </div>
                          </form>

                      </div>


                      <div class="qt6">
                          <div class="q6 qtn mt">

                            <ol start="6">
                              <li>How would you rate the value for money of the product?</li>
                            </ol>

                          </div>

                          <form>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Excellent" name="gender" />
                              <label class="form-check-label" for="Excellent">Excellent</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Above average" name="gender" />
                              <label class="form-check-label" for="Above average">Above average</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Average" name="gender" />
                              <label class="form-check-label" for="Average">Average</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Below average" name="gender" />
                              <label class="form-check-label" for="Below average">Below average</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="Poor" name="gender" />
                              <label class="form-check-label" for="Poor">Poor</label>
                            </div>
                          </form>

                      </div>


                      <div class="qt7">
                        <div class="q7 qtn mt">

                          <ol start="7">
                            <li>How responsive have we been to your questions or concerns about our products?</li>
                          </ol>

                        </div>

                        <form>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Extremely responsive" name="gender" />
                            <label class="form-check-label" for="Extremely responsive">Extremely responsive</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Very responsive" name="gender" />
                            <label class="form-check-label" for="Very responsive">Very responsive</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Somewhat responsive" name="gender" />
                            <label class="form-check-label" for="Somewhat responsive">Somewhat responsive</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Not so responsive" name="gender" />
                            <label class="form-check-label" for="Not so responsive">Not so responsive</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Not at all responsive" name="gender" />
                            <label class="form-check-label" for="Not at all responsive">Not at all responsive</label>
                          </div>
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="Not applicable" name="gender" />
                            <label class="form-check-label" for="Not applicable">Not applicable</label>
                          </div>
                        </form>

                    </div>


                  <div class="qt8">
                      <div class="q8 qtn mt">
                        
                        <ol start="8">
                          <li>How long have you been a customer of our company?</li>
                        </ol>

                      </div>

                      <form>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="This is my first purchase" name="gender" />
                          <label class="form-check-label" for="This is my first purchase">This is my first purchase</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="Less than six months" name="gender" />
                          <label class="form-check-label" for="Less than six months">Less than six months</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="Six months to a year" name="gender" />
                          <label class="form-check-label" for="Six months to a year">Six months to a year</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="1 - 2 years" name="gender" />
                          <label class="form-check-label" for="1 - 2 years">1 - 2 years</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="3 or more years" name="gender" />
                          <label class="form-check-label" for="3 or more years">3 or more years</label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="I haven't made a purchase yet" name="gender" />
                          <label class="form-check-label" for="I haven't made a purchase yet">I haven't made a purchase yet</label>
                        </div>
                      </form>

                  </div>


                  <div class="qt9">
                    <div class="q9 qtn mt">

                      <ol start="9">
                        <li>
                          How likely are you to purchase any of our products again?
                        </li>
                      </ol>

                    </div>

                    <form>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="Extremely likely" name="gender" />
                        <label class="form-check-label" for="Extremely likely">Extremely likely</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="Very likely" name="gender" />
                        <label class="form-check-label" for="Very likely">Very likely</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="Somewhat likely" name="gender" />
                        <label class="form-check-label" for="Somewhat likely">Somewhat likely</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="Not so likely" name="gender" />
                        <label class="form-check-label" for="Not so likely">Not so likely</label>
                      </div>
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="Not at all likely" name="gender" />
                        <label class="form-check-label" for="Not at all likely">Not at all likely</label>
                      </div>
                    </form>

                  </div>


                <div class="qt10">
                    <div class="q10 qtn mt">

                      <ol start="10">
                        <li>Do you have any other comments, questions, or concerns?</li>
                      </ol>

                    </div>

                    <div class="textarea-container">
                      <textarea class="textarea" spellcheck="true" rows="4" cols="70" 
                      data-sm-textarea="" maxlength="20000" style="background-color: #E9F3F0;"></textarea>
                      
                  </div>

                </div>


                <div class="submit" style="margin-top: 180px; text-align: center; margin-bottom: 50px; font-weight: 700">
                  <button type="submit" (click)="showSuccess()"  class="btn small survey-page-button mt">Submit</button>
                </div>

          </div>
        </div>
      </div>
  </div>
</div>